.claude/
use_case_big_data_course/.idea
.DS_Store
.idea/
big_data_courses.zip
additional_train.yaml
non-commercial_license.docx
data/
Programme_Les fondamentaux de l'intelligence artificielle et du big data - 2 jours.pdf